<script>
	var countries = ["USA", "India", "Ireland", "Sri Lanka", "Australia", "Netherlands"]
	
	console.log(countries);
	
	//console.log("Length of countries array: " + countries.length);
	
	//for(i = 0; i < countries.length; i++) {
		//console.log("countries[" + i + "] = " + countries[i]);
	//}
	
</script>

<option>USA</option>
<option>India</option>